<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>GoHealth Patient Portal</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <section id="forms">
        <div class="page-header">
            <h2>Patient Information</h2>
        </div>

        
        <form class="form-horizontal well" name="validatePatientForm" action="/patient/validateInsurance" method="post">
            <h3>Patient Demographics</h3>
            <table class="table-bordered table-striped table-hover" width="600px">
                <tr>
                    <td width="20%"><label class="control-label" for="patient_f_name">First Name</label></td>
                    <td width="80%"><input type="text" id="patient_f_name"></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="patient_l_name">Last Name</label></td>
                    <td><input type="text" id="patient_l_name"></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="patient_dob">Date of Birth</label></td>
                    <td><input type="text" id="patient_dob"></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="patient_phone">Phone</label></td>
                    <td><input type="text" id="patient_phone"></td>
                </tr>
            </table>
            
            <h3>Patient Insurance</h3>
            <table class="table-bordered table-striped table-hover" width="600px">
                <tr>
                    <td width="20%"><label class="control-label" for="ins_carrier">Insurance Carrier</label></td>
                    <td width="80%"><input type="text" id="ins_carrier"></td>
                </tr>
                <tr>
                    <td><label class="control-label" for="ins_id">Insurance ID</label></td>
                    <td><input type="text" id="ins_id"></td>
                </tr>
            </table>
            
            <br>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>  
    </section>
</body>

</html>
